# Ejercicio 4 BlacRock

In [106]:
import pandas as pd


#Importamos pandas y vemos que tenemos
path='VectorAnalitico24H.csv'
df=pd.read_csv(path,encoding='UTF-8')
columnas=df.columns.values.tolist()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25803 entries, 0 to 25802
Data columns (total 64 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   FECHA                      25803 non-null  int64
 1   TIPO VALOR                 25803 non-null  object
 2   EMISORA                    25803 non-null  object
 3   SERIE                      25803 non-null  object
 4   PRECIO LIMPIO              25803 non-null  float64
 5   PRECIO SUCIO               25803 non-null  float64
 6   INTERESES ACUMULADOS       25803 non-null  float64
 7   CUPON ACTUAL               25803 non-null  float64
 8   SOBRETASA                  25803 non-null  float64
 9   NOMBRE COMPLETO            25803 non-null  object
 10  SECTOR                     25798 non-null  object
 11  MONTO EMITIDO              17718 non-null  object
 12  MONTO EN CIRCULACION       17814 non-null  object
 13  FECHA EMISION              25238 non-null  object
 14  PLAZO EMISION              6041 non-null   float64
 15  FECHA VCTO                 12837 non-null  object
 16  VALOR NOMINAL              5589 non-null   float64
 17  MONEDA EMISION             25754 non-null  object
 18  SUBYACENTE                 7248 non-null   object
 19  REND. COLOCACION           12238 non-null  object
 20  ST COLOCACION              4673 non-null   object
 21  FREC. CPN                  4354 non-null   object
 22  TASA CUPON                 25803 non-null  float64
 23  DIAS TRANSC. CPN           4619 non-null   object
 24  REGLA CUPON                4355 non-null   object
 25  CUPONES EMISION            4466 non-null   object
 26  CUPONES X COBRAR           4466 non-null   object
 27  HECHO DE MKT               25230 non-null  object
 28  FECHA U.H.                 25230 non-null  object
 29  PRECIO TEORICO             9832 non-null   object
 30  POST COMPRA                25803 non-null  object
 31  POST VENTA                 25803 non-null  object
 32  YIELD COMPRA               25803 non-null  object
 33  YIELD VENTA                25803 non-null  object
 34  SPREAD COMPRA              25803 non-null  object
 35  SPREAD VENTA               25803 non-null  object
 36  MDYS                       10813 non-null  object
 37  S&P                        10804 non-null  object
 38  BURSATILIDAD               14803 non-null  object
 39  LIQUIDEZ                   5442 non-null   object
 40  CAMBIO DIARIO              25292 non-null  object
 41  CAMBIO SEMANAL             25292 non-null  object
 42  PRECIO MAX 12M             25292 non-null  object
 43  PRECIO MIN 12M             25292 non-null  object
 44  SUSPENSION                 15649 non-null  object
 45  VOLATILIDAD                25559 non-null  object
 46  VOLATILIDAD 2              25559 non-null  object
 47  DURACION                   25549 non-null  object
 48  DURACION MONET.            25549 non-null  object
 49  CONVEXIDAD                 25549 non-null  object
 50  VAR                        18920 non-null  object
 51  DESVIACION STAND           25048 non-null  object
 52  VALOR NOMINAL ACTUALIZADO  5589 non-null   float64
 53  CALIFICACION FITCH         10802 non-null  object
 54  FECHA PRECIO MAXIMO        25048 non-null  object
 55  FECHA PRECIO MINIMO        25048 non-null  object
 56  SENSIBILIDAD               25549 non-null  object
 57  DURACION MACAULAY          25549 non-null  object
 58  TASA DE RENDIMIENTO        25803 non-null  float64
 59  HR RATINGS                 10181 non-null  object
 60  DURACION EFECTIVA          25803 non-null  object
 61  ISIN                       18411 non-null  object
 62  CALIFICACION VERUM         10192 non-null  object
 63  CALIFICACION DBRS          25803 non-null  object
dtypes: float64(10), int64(1), object(53)
memory usage: 12.6+ MB

c:\users\bquna\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (18,25,26,50) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [108]:
#Limpiamos los valores nulos o guiones
df['FECHA EMISION'] = df['FECHA EMISION'].replace(['-'],'01/01/1998')
df['FECHA EMISION'] = df['FECHA EMISION'].fillna('01/01/1998')

In [109]:
#Convertimos el tipo object a tipo datetime64
df['FECHA EMISION'] = pd.to_datetime(df['FECHA EMISION'])
df['FECHA EMISION']

0       1998-01-01
1       1998-01-01
2       1998-01-01
3       1998-01-01
4       1998-01-01
           ...
25798   2010-02-09
25799   2010-03-17
25800   2013-09-30
25801   2001-01-01
25802   2010-03-10
Name: FECHA EMISION, Length: 25803, dtype: datetime64[ns]

In [92]:
#Creamos el año 2020
import datetime
x = datetime.datetime(2020,1,1)
x

datetime.datetime(2020, 1, 1, 0, 0)

### Filtramos los valores que queremos - inciso a) b) y c)

In [110]:
#El campo TIPO VALOR se encuentre en la siguiente lista: FA, FB, FC, FI
#El campo SECTOR sea igual a DERIVADOS
#La fecha de EMISION debe ser mayor al año 2020

df=df.loc[(df['TIPO VALOR'].isin(['FA','FB','FC','FI']) & df['SECTOR'].isin(['DERIVADOS']) & (df['FECHA EMISION'] >= x))]
df.shape

(201, 64)

In [111]:
#Concatenamos los valores de TIPO VALOR EMISORA Y SERIE
df['TICKER']=df['TIPO VALOR']+ '_' +df['EMISORA']+ '_'+ df['SERIE']

#Creamos un nuevo dataFrame 'dfn' con las columnas dichas y a dfn le cambiamos el nombre de las columnas
dfn=df[['TICKER','PRECIO LIMPIO','MONEDA EMISION','VAR']]
dfn.columns=['TICKER','PRECIO','MONEDA','VAR']
dfn.head()

            TICKER  PRECIO                     MONEDA          VAR
17499  FA_ALF_MR21   14.14  [MPS] Peso Mexicano (MXN)   -55.437676
17501  FA_ASA_DC20   25.91  [MPS] Peso Mexicano (MXN)  -100.162641
17502  FA_ASA_JN20   25.26  [MPS] Peso Mexicano (MXN)   -97.480128
17503  FA_ASA_MR21   26.20  [MPS] Peso Mexicano (MXN)  -101.551204
17504  FA_ASA_SP20   25.60  [MPS] Peso Mexicano (MXN)    -98.79245

In [112]:
hoy = datetime.datetime.now()
#Creamos el archivo con el nombre del día de hoy
try:
    dfn.to_csv(f'Precios_PIP_{str(hoy.year)}{str(hoy.month)}{str(hoy.day)}.csv',index=False)
    print('Escrito con éxito!')
except:
    print('No pudimos escribir master')

Escrito con éxito!